@import "./Utils/variables";
@import "./Utils/mixins";

html,
body,
.app {
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  font-size: 16px;
  color: $color-light;
  background-color: $color-dark;
}
header{
  width: 100%;
  height: 100px;
  background-color: $color-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .Conver__wrapper{
    flex: 1 1 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
}
.Moneyview__wrapper{
  flex: 1 1 30%;
  font-size: 35px;
  font-weight: 800;
  color: green;
  font-family: $font-sans-serif;
  text-align: center;
}
main{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
}
.Corebutton__wrapper{
  flex: 1 1 60%;
}
.research__container{
  flex: 1 1 30%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #333;
  background-color: transparent;
  z-index: 100000;
  overflow: hidden;

  h2{
    flex: 100%;
  }
}
.Research__view--container{
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  overflow-y: scroll;
}
.Research__nav--container
{
  flex: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
}
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: $wave-color;
  min-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  p{
    color: $color-light;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }
  .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(wave.png);
    filter: sepia(100%);
    background-size: 1000px 100px;

    &#wave1{
      @include setup-wave(1000, 1, 0, animateWave 4s linear infinite);
    }
    &#wave2{
      @include setup-wave(999, .5, 0, animateWave_02 4s linear infinite);
    }
    &#wave3{
      @include setup-wave(1000, .2, 15px, animateWave 3s linear infinite);
    }
    &#wave4{
      @include setup-wave(999, .7, 20px, animateWave_02 3s linear infinite);
    }
  }
}
@keyframes animateWave{
  0%{
    background-position-x: 1000px;
  }
  100%{
    background-position-x: 0px;
  }
}
@keyframes animateWave_02{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: 1000px;
  }
}
.bottle {
  height: 40vmin;
  pointer-events: none;
}
.board__container{
  display: flex;
  justify-content: space-around;
}

@keyframes SpinBottle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.boat{
  width: 120px;
  height: 120px;
}
.rhum__button {
  background: transparent;
  border: none;
  border-radius: 50px;
  transition: 0.2s;
}
.rhum__button:hover {
  transform: scale(1.02);
}
.rhum__button:active {
  animation: SpinBottle .6s ease-in-out infinite;
}
