.research__progress{
    flex: 0 1 90%;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(1% * var(--research--progress-percent));
    height: 10px;
    min-height: 10px;
    border-radius: 20px;
    background: $wave-color;
    justify-self: flex-start;
    align-self: flex-start;
}