@media screen and (max-width: 768px) {
    body{
        overflow-y: scroll;
    }
    .coin__button{
        animation: IdleCoin $coinAnimationDuration linear infinite;
    }

    @keyframes IdleCoin{
        0%{
          transform: rotate(0deg);
        }
        100%{
          transform: rotate(360deg);
        }
      }

      .research__container{
        flex: 100%;
        flex-direction: column-reverse;
        padding-left: 10px;
      }

    main{
        flex-wrap: wrap;
    }

    header{
        flex-wrap: wrap;
        height: auto;
    }
    .header__levelView--wrapper{
        flex: 20;
        height: auto;
        font-size: 14px;
    }
    .Money__row{
        flex: 100;
    }
    header .convert__button--wrapper{
        margin: 0;
        padding: 0;
    }
    header h1{
        display: none;
    }
}