.App {
  text-align: center;
}

.bottle {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes SpinBottle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rhum--button {
  background: transparent;
  border: none;
  border-radius: 50px;
  transition: 0.2s;
}
.rhum--button:hover {
  transform: scale(1.02);
}
.rhum--button:active {
  animation: SpinBottle infinite 1s linear;
}
