@mixin heading-shadow(
  $shadow-size: $heading-shadow-size,
  $colour: $color-primary
) {
  text-shadow: $shadow-size solid $colour;
}

@mixin setup-wave($z-index: 5, $opacity: 1, $bottom: 0, $animation: animateWave 3s linear infinite) {
      z-index: $z-index;
      opacity: $opacity;
      bottom: $bottom;
      animation: $animation;
}