$color-primary: #3f3f3f;
$color-secondary: #8d0509;
$color-tertiary: #1d2b3a;
$color-light: #fff;
$color-dark: #333;

$wave-color: #fdcea7;

$font-serif: "Charis SIL", serif;
$font-sans-serif: "Raleway", sans-serif;

$heading-shadow-size: 0.5rem;

$coinAnimationDuration: 3s;
